<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client | Detail page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <h1>Microservice Client eCommerce</h1>
    <div class="row">
        <div class="col-md-4 my-1">
            <img th:src="${product.illustration}" class="card-img-top" />
            <p th:text= "${product.name}"></p>
            <form method="POST" id="cartForm">
                <input type="hidden" id="id" th:value="${product.id}"/>
                <button type="submit" class="link-button">ADD TO CART</button>
            </form>
        </div>
    </div>
</div>
<script>
    let baseUrl = "http://localhost:8090";
    let cartPrefix = "/cart";
    async function createCart() {
        await fetch(baseUrl + cartPrefix, {
               method: "POST",
            })
            .then(response => response.json())
            .then(data => {
                sessionStorage.setItem('cartId', data.id);
                console.log("new cart " + data.id);
            })
            .catch(error => console.log(error));
    }
    document.querySelector("#cartForm").addEventListener("submit", async function(e){
        e.preventDefault();

        let cart = sessionStorage.getItem('cartId');
        if(cart == null) {
            console.log("cart is null, creating ...");
            createCart();
        }else{
            console.log("cart is not null, retrieving ...");
            await fetch(baseUrl + cartPrefix + "/" + cart, {
               method: "GET",
            })
            .then(response => response.json())
            .then(data => {
                if(data == null){
                    createCart();
                }else{
                    console.log(data);
                }
            })
            .catch(error => console.log("tb"));
        }
        let data = {
            productId: parseInt(document.querySelector("#id").value)
        }
        let addProductUrl = baseUrl + cartPrefix + "/" + sessionStorage.getItem('cartId');
        await fetch(addProductUrl, {
               method: "POST",
               body: JSON.stringify(data),
               headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
            }).then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => console.log(error));
    });
</script>
</body>
</html>